.sidebar {
    height: calc(100vh - var(--navbar-h));
    width: var(--sidebar-w-full);
    background: var(--inv-primary-color);
    position: relative;
    padding: 1rem;
    transition: width 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.collapsed {
        width: var(--sidebar-w-collapsed);

        .switchers {
            flex-direction: column;
        }

        .items {
            .item {
                .link {
                    opacity: 0;
                    visibility: hidden;
                    width: 0;
                    height: 0;
                }
            }
        }

    }

    .sidebarButton {
        position: absolute;
        right: -1rem;
        top: 1rem;
    }

    .switchers {
        position: absolute;
        left: 1rem;
        bottom: 1rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .items {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .item {

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;

            .link {
                transition: opacity 0.2s ease;
            }

            .icon {
                width: 1.5rem;
                height: 1.5rem;
            }

        }
    }
}