.navbar {
    height: var(--navbar-h);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--inv-secondary-color);
    padding: 0 2rem;
}

.navLinks {
    display: flex;
    justify-content: end;
    gap: 1rem;
}
